/* REALISED BY AMINE SARADOUNI   INSTAGRAM,TIKTOK,YOUTUBE @ONLYCODECHANNEL*/

body{
  height:100vh;
  margin: 0;
  padding: 0;
}
.parent {
  height: 100%;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}


/*********************************************************** header**********************************************************/
.header{ grid-area: 1 / 1 / 2 / 13; 
  border-bottom: 2px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.logo {
  font-family: 'Mattone';
  letter-spacing: 2px;
  font-size: 20px;
}

/********************************************************navigation menu********************************************************/
#toggle {
  display: none;
}
/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 0.4em;
  border-radius: 3px;
  background-color: #000000;
  margin-top: 2px;
  transition: all 0.3s ease-in-out;
}

/** Nav Styles **/
.nav {
  position: fixed;
  width: 30%;
  height: 50%;
  background-color: #ffffffcb;
  top: -100%;  right: -50px; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  text-align: start;
  padding-left: 1em;
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-top: 3em;

}
nav a {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: 5vh;
  display: inline-block;
  margin-top: 1em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:hover {
  color: white;
}

/**Animations**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

/********************************************************************************************************************************/



/**************************************************************aside************************************************************/
.aside { grid-area: 2 / 1 / 10 / 3;
      border-bottom: 2px solid black;
      border-right: 2px solid black;
      display: flex;
      justify-content: center;
      writing-mode: vertical-rl;
      flex-direction: column;
      align-items: center;
 }

.text {
    font-family: 'Voyage';
    font-size: 16vh;
    transform: rotate(180deg);
  }
/******************************************************************************************************************************/
/**************************************************************main***************************************************************/
.main { grid-area: 2 / 3 / 10 / 9; 
border-bottom: 2px solid black;
border-right: 2px solid black;
background-image: url(photos/olala.jpeg);
background-size: cover;
background-position: center 60%;
}

/***************************************right side**************************************************/

.right { grid-area: 2 / 9 / 10 / 13; 
border-bottom: 2px solid black;
display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

  .preorder {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    gap:5px;
    position: relative;
   
  }
    .preorder img {
        position: absolute;
        width: 17em;
        
     
      }

   .arrow {
        width: 80px;
        height: 2px;
        background: black;
        position: relative;

      }
      .arrow:after {
          content: '';
          position: absolute;
          left: 100%;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: black;
          clip-path: polygon(0 0, 0 100%, 100% 50%);
                   
        }
/*****************right photo******************/
.right_photo { grid-area: 3 / 8 / 6 / 13; 
border-bottom: 2px solid black;
border-left: 2px solid black;
border-top: 2px solid black;
background-image: url(photos/phright.jpeg);
background-size: cover;
background-position: 0% 50% ;
height: 130%;
margin-top: -5%;
}

/*****************************************************footer**************************************************************/

.footer_left { grid-area: 10 / 1 / 11 / 9;
border-right: 2px solid black;
display: flex;
align-items: center;
justify-content: center;

 }
ul{

    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    gap: 2em;
    
}
/***************************************************************************************************/
.footer_right{ grid-area: 10 / 9 / 11 / 13;

font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

 }
  .point_noir {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
  }
.less900{
  display: none;
}
.sortby_mobile{
  display: none;
}
/**********************************************************************************************************************************************/


/*BREAK POINT FOR DEVIVES LESS THEN 800PX*/
@media (max-width: 800px) {

  body{
    height: 100%;
  }

  .nav{
    width: 120%;
    height:100%; 
    
    z-index: 4;
  }
  .nav-wrapper {
margin-top: 40%;
text-align: center;
margin-right: 5%;
  }
  .parent {
    display: flex;
   flex-direction: column;
    height: 100%;
  }
  .header{
    height: 10vh;
   border: 0;
  }
  .aside{
   writing-mode:horizontal-tb;
   border-style: solid;
   border-width: 2px 0px 2px 0px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding: 7px;

  }
  .sortby_mobile{
    color: #000000;
    display: block;
  }

  .sortby_mobile a{
font-size: 3vh;
color: #000000;

  }
  .text{
    transform: rotate(0deg);
    font-size: 5vh;
  }
  .main{
    height: 100vh;
    margin: 5px ;
    border: 0;
  }
  .right{
    height: 30vh;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
  }
  .right_photo{
    height: 100vh;
    background-position:center ;  
    margin: 5px 8px 5px 5px; 
    border-left: 0;
  }
  .footer_left{
    border: 0;
  }
  .more900{
    display: none;
  }
  .less900 {
    display: flex;
    gap: 4em;
    margin-right: 10%;
  }
  .less900 a {
    color: black;
  }
	}

/* REALISED BY AMINE SARADOUNI   INSTAGRAM,TIKTOK,YOUTUBE @ONLYCODECHANNEL*/
